/* slide panel*/
.panel {
    width: 15%;
    border: 5px solid black;
    height: 100%;
    position: fixed;
    background-color: #0d47a1;
    color: whitesmoke;
}

.top {
    margin-left: 20px;
}
.menu {
    margin-top: 50px ;
}
.categorias {
    margin-left: 30px;
}
.perfil {
    margin-left: 30px;
}
.lista {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
/* page */
.page{
    width: 100%;
    height: 100%;
}
.infoBox{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.titulo{
    height: 100px;
    order: 3
}
.info{
    height:300px;
    width: 600px;
    display:flex;
    margin-right: 100px;
}
/* Bootstrap */
body {
    height: 100%;
  }
  
 

  form{
    display: flex;
    flex-direction: row;
    
  }
  input{
      width: 300px;
  }
  