/* slide panel*/
.panel {
    width: 15%;
    border: 5px solid black;
    height: 100%;
    position: fixed;
    background-color: #0d47a1;
    color: whitesmoke;
}

.top {
    margin-left: 20px;
}
.menu {
    margin-top: 50px ;
}
.categorias {
    margin-left: 30px;
}
.perfil {
    margin-left: 30px;
}
.lista {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
/* page */
img {
    width: 150px;
    height: auto;
}

.catalogo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #9ea7aa;
    color:white
}
h1{
    display: flex;
    justify-content: center;
}
/* Items */
.fBox{
    justify-content: flex-start;
    align-items: center;
    align-content: space-around ;
    flex-wrap: wrap;
    height: 820px;
    width: 800px;
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    flex-direction: column;
}
.itemBox{
    height: 600px;
    width: 700px;
    display: flex;
    flex-direction: column ;
    align-content: space-around;
    margin-top: 50px;
}

.item{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: row ;
    border-top: 3px solid darkslategrey;
}
.nextBox{
    display: flex;
    height: 50px;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
    border-top: 3px solid darkslategrey;
    margin-right: 200px;
}
.comp{
    display: flex;
    flex-direction: row ;
    
}
