/* Page */
.page{
    display: flex;
    flex-direction: row;
}
/* slide panel*/
.panel {
    width: 15%;
    border: 5px solid black;
    height: 100%;
    position: fixed;
    background-color: #0d47a1;
    color: whitesmoke;
}

.top {
    margin-left: 20px;
}
.menu {
    margin-top: 50px ;
}
.categorias {
    margin-left: 30px;
}
.perfil {
    margin-left: 30px;
}
.lista {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
/* main box */
img {
    width: 150px;
    height: auto;
}
.text{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 25px;
}
.mainBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 200px;
}
.itemBox{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
}
/* buy Box */
.buyArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a.wuwuw{
    text-decoration: underline;
    font-size: x-large;
}