
/* slide panel*/
.panel {
    width: 15%;
    border: 5px solid black;
    height: 100%;
    position: fixed;
    background-color: #0d47a1;
    color: whitesmoke;
}

.top {
    margin-left: 20px;
}
.menu {
    margin-top: 50px ;
}
.categorias {
    margin-left: 30px;
}
.perfil {
    margin-left: 30px;
}
.lista {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
/* main page section */ 
.header {
    justify-content: center; /* TODO: align header*/

}
.mainpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #9ea7aa;
}
.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
}
img {
    width: 150px;
    height: auto;
}
.exItems {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2cm;
    margin-bottom: 3cm;
}
.vg {
    width: 500px;
    border:10px solid #cfd8dc;

    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.libros {
    width: 550px;
    border:10px solid #cfd8dc;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.ofertas{
    width: 600px;
    border:10px solid #cfd8dc;
    margin-top: 1cm;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

}
 h2 {
    display: flex;
    justify-content: center;
}
.imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ff7 img {
    margin-top: 25px;
}

.transpotting img {
    margin-top: 25px;
}
