/* Page */
.page{
    display: flex;
    flex-direction: row;
}
/* slide panel*/
.panel {
    width: 15%;
    border: 5px solid black;
    height: 100%;
    position: fixed;
    background-color: #0d47a1;
    color: whitesmoke;
}

.top {
    margin-left: 20px;
}
.menu {
    margin-top: 50px ;
}
.categorias {
    margin-left: 30px;
}
.perfil {
    margin-left: 30px;
}
.lista {
    margin-left: 40px;
}
/* Producto Info */
img {
    width: 150px;
    height: auto;
}

.producto{
    width: 100%;
    display: flex;
    margin-left: 300px;
    align-content: space-between;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 15px
}
.im{
    display: flex;
}
.text{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 25px;
}
.btnIm{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.itemBox{
    display: flex;
    flex-direction:row ;
}
.buy{
    display: flex;
    margin-top:5px;
    justify-content: center;
    
}
.back {
    display: flex;
    margin-top: 100px;
}
